<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'board:index' %}">PyWeb</a>
      <!-- 햄버거 메뉴 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <!-- pyweb 메뉴 -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'common:logout_view' %}">({{ user.username }}님)로그아웃</a>
          {% else %}
            <a class="nav-link" href="{% url 'common:login_view' %}">로그인</a>
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'board:boardlist' %}">질문/답변</a>
        </li>
      </ul>
    </div>
  </div>
</nav>