{% extends 'base.html' %}
{% block title %}
  Question - {{ question.subject }}
{% endblock %}

{% block content %}
    <div class="container my-3">
        <!-- 추천 오류 표시 -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger my-3">
                <ul>
                    <li>{{ message.message }}</li>
                </ul>
                </div>
            {% endfor %}
        {% endif %}
       <h2 class="border-bottom py-2">{{ question.subject }}</h2>
        <!-- 질문 추천영역과 질문 영역으로 구분 -->
        <div class="row">
            <!-- 질문 추천 영역 -->
            <div class="col-1">
                <div class="bg-light text-center border p-3 font-weight-bolder">
                    <!--{{ 0 }}--> {{ question.voter.count }}
                </div>
                <a href="#" data-uri="{% url 'board:vote_question' question.id %}"
                   class="recommend btn btn-secondary btn-block my-1">추천</a>
            </div>
            <!-- 질문 영역 -->
            <div class="col-11">
                <div class="card my-3">
                    <div class="card-body">
                        <div class="card-text" style="white-space:pre-line">
                            {{ question.content }}
                        </div>
                        <div class="d-flex justify-content-end">
                            {% if question.modify_date %}  <!-- 수정일이 있다면 -->
                            <div class="badge badge-light text-dark p-2 mx-3 text-left">
                                <div class="mb-2">modified at</div>
                                <div>{{ question.modify_date }}</div>
                            </div>
                            {% endif %}
                            <div class="badge badge-light text-dark p-2 text-left">
                                <div class="mb-2">{{ question.author }}</div>
                                <div>{{ question.create_date }}</div>
                            </div>
                        </div>
                        <!-- 질문 수정, 삭제 버튼 -->
                        {% if request.user == question.author %}
                        <div>
                            <a href="{% url 'board:question_modify' question.id %}"
                               class="btn btn-outline-secondary">수정</a>
                            <a href="#" data-uri="{% url 'board:question_delete' question.id %}"
                               class="delete btn btn-outline-secondary">삭제</a>
                            <!--
                            <a href="{% url 'board:question_delete' question.id %}"
                               onclick="return confirm('정말로 삭제하시겠습니까?')"
                               class="btn btn-outline-secondary">삭제</a>-->
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- 답변 영역 -->
        <h5 class="border-bottom my-3 py-2">
            {{ question.answer_set.count }}개의 답변이 있습니다.
        </h5>
        {% for answer in question.answer_set.all %}
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space:pre-line">{{ answer.content }}</div>
                <div class="d-flex justify-content-end">
                    {% if answer.modify_date %}  <!-- 답변 수정일이 있다면 -->
                    <div class="badge badge-light badge text-dark p-2 mx-3 text-left">
                        <div class="mb-2">modified at</div>
                        <div>{{ answer.modify_date }}</div>
                    </div>
                    {% endif %}
                    <div class="badge badge-light badge text-dark p-2 text-left">
                        <div class="mb-2">{{ answer.author }}</div>
                        <div>{{ answer.create_date }}</div>
                    </div>
                </div>
                <!-- 답변 수정, 삭제 버튼 -->
                {% if request.user == answer.author %}
                <div>
                    <a href="{% url 'board:answer_modify' answer.id %}"
                       class="btn btn-outline-secondary">수정</a>
                    <a href="#" data-uri="{% url 'board:answer_delete' answer.id %}"
                       class="delete btn btn-outline-secondary">삭제</a>
                    <!--
                    <a href="{% url 'board:answer_delete' answer.id %}"
                       onclick="return confirm('정말로 삭제하시겠습니까?')"
                       class="btn btn-outline-secondary">삭제</a>-->
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <!-- 답변 등록 -->
        <form action="{% url 'board:answer_create' question.id %}" method="post">
          {% csrf_token %}
          {% include 'form_errors.html' %}
          <div class="form-group">
              <textarea name="content" rows="7" cols="60" class="form-control"
                        {% if not user.is_authenticated %} disabled {% endif %}></textarea>
          </div>
          <input type="submit" value="답변 등록" class="btn btn-primary">
      </form>
    </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        //삭제 처리
        $('.delete').click(function(){
            if(confirm('정말로 삭제하시겠습니까?')){
                location.href = $(this).data('uri');
            }
        });

        //추천 처리
        $('.recommend').click(function(){
            if(confirm('정말로 추천하시겠습니까?')){
                location.href = $(this).data('uri'); //uri 경로로 이동
            }
        });
    });
</script>
{% endblock %}
<!--
      <h2>{{ question.subject }}</h2>
      <p>{{ question.content }}</p>
      <h4>{{ question.answer_set.count }}개의 답변이 있습니다.</h4>
      <div>
          <ul>
              {% for answer in question.answer_set.all %}
              <li>{{ answer.content }}</li>
              {% endfor %}
          </ul>
      </div>
      <form action="{% url 'board:answer_create' question.id %}" method="post">
          {% csrf_token %}
          <div>
              <textarea name="content" rows="7" cols="60"></textarea>
          </div>
          <input type="submit" value="답변 등록">
      </form>
      -->
