{% extends 'base.html' %}
{% load board_filter %} <!-- 필터 로딩 -->
{% block title %}
    질문/답변 목록
{% endblock %}

{% block content %}
  <div class="container my-3">
      <table class="table">
          <thead class="thead-dark">
            <tr class="text-center">
                <th>번호</th><th>제목</th><th>글쓴이</th><th>작성일</th>
            </tr>
          </thead>
          <tbody>
            {% if question_list %}
                {% for question in question_list %}
                <tr class="text-center">
                    <!-- 번호 : 전체게시물수-시작인덱스-현재인덱스(0~9)+1 -->
                    <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
<!--                    <td>{{ forloop.counter|add:5 }}</td>-->
                    <td class="text-left px-3">
                        <a href="{% url 'board:detail' question.id %}"
                           class="text-decoration-none text-dark">{{ question.subject }}</a>
                    </td>
                    <td>{{ question.author }}</td>
                    <td>{{ question.create_date }}</td>
                </tr>
                {% endfor %}
            {% else %}
              <p>질문이 없습니다.</p>
            {% endif %}
          </tbody>
      </table>
      <!-- 페이지 처리 영역 -->
      <ul class="pagination justify-content-center">
          <!-- 이전 페이지 -->
          {% if question_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
            </li>
          {% else %}<!-- 이전페이지가 없으면 비활성화 -->
            <li class="page-item disabled">
                <a class="page-link" href="#">이전</a>
            </li>
          {% endif %}
           <!-- 페이지 리스트(목록) -->
          {% for page_number in question_list.paginator.page_range %}
              {% if page_number == question_list.number %} <!-- 클릭한 페이지가 현재 페이지이면 -->
                <li class="page-item active"> <!-- 버튼 활성화 -->
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
              {% endif %}
          {% endfor %}
          <!-- 다음 페이지 -->
          {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
            </li>
          {% else %}<!-- 이전페이지가 없으면 비활성화 -->
            <li class="page-item disabled">
                <a class="page-link" href="#">다음</a>
            </li>
          {% endif %}
      </ul>
      <!-- 페이징 처리 끝 -->
      <a href="{% url 'board:question_create' %} " class="btn btn-primary">질문 등록</a>
  </div>
{% endblock %}

    <!-- 부트스트랩 적용 전
      <h1>질문 목록입니다.</h1>
      {% if question_list %}
        <ul>
            {% for question in question_list %}
            <li>
                <a href="{% url 'board:detail' question.id %}">{{ question.subject }}</a>
                <a href="board/{{ question.id }}/">{{ question.subject }}</a>
            </li>
            {% endfor %}
        </ul>
      {% else %}
      <p>질문이 없습니다.</p>
      {% endif %}
      <a href="{% url 'board:question_create' %}">질문 등록</a>
      -->

<!--      <p class="text-center">1 2 3</p>
          <ul class="text-center">
              {% for question in question_list %}
                 {% if forloop.counter < 5 %}
                    <li style="list-style:none; display:inline">
                        <a href="#">{{ forloop.counter }}&nbsp; &nbsp;</a>
                    </li>
                 {% endif %}
              {% endfor %}
          </ul>-->